name: Build and Push Docker Image

on: [push]

jobs:
  build_push:
    name: build-release
    if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/')
    env:
      IMAGE_NAME: node_server
      REGISTRY: ghcr.io
      PACKAGE_PATH: porthorian/wedding-site
      BUILD_VERSION: ${{ github.ref_name }}
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Login to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set Tag
        run: |
          echo "TAG=${{ env.REGISTRY }}/${{ env.PACKAGE_PATH }}/${{ env.IMAGE_NAME }}:${{ env.BUILD_VERSION }}" >> $GITHUB_ENV
      - name: Build Image
        run: |
          docker build \
          --tag ${{ env.TAG }} \
          .
      - name: Publish Image
        run: |
          docker push ${{ env.TAG }}
